snippet schem
	schema "${1:item}" do
		${0}
	end
snippet fiel
	field :${1:item}, :${2:string}
	${0}
snippet changese
	def changeset(struct, params \\ %{}) do
		struct
		|> cast(params, [:${1:item}, :${2:item}, :${3:item}])
		|> validate_required([:${4:item}, :${5:item}, :${6:item}])
	end
snippet flas
	conn
	|> put_flash(:${1:info}, "${2:Message}")
snippet redirec
	redirect(to: ${1:item}_path(conn, :${2:index}))

